* {
    margin: 1;
    padding: 0;
}

:root {
    --transition: .9s ease;
    --darkbl: #074a58;
    --white: #fff;
    --bglight: rgb(7, 219, 219);
    --bdbl: #82d1e3;
    --sky: lightskyblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1% 0 0;
    background-color: rgb(50, 48, 51);
    color: #fff;
}

h1 {
    font-size: 150%;
    color: black;
}

h1 #logoimg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid white;
}

.headbox {
    display: flex;
    width: 180px;
    height: 40px;
    padding: 10px;
    background-color: rgb(7, 219, 219);
    border-color: rgb(7, 219, 219);
    justify-content: flex-end;
    align-items: center;
    border-style: solid;
    margin-left: 0;
}

ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

li {
    border-bottom: solid rgb(7, 219, 219);
}

a {
    color: var(--bglight);
    font-weight: bold;
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--white);
    transition: var(--transition);
}

header ul li {
    list-style-type: none;
}

.container {
    display: grid;
    grid-template-columns: 0.08fr 1.2fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    height: 100vh;
    margin: 0.5em;
}


/* main */

main {
    grid-area: 3 / 2 / 4 / 3;
    margin: 1rem 0 0 0;
}

main a {
    color: var(--darkbl);
    font-weight: lighter;
    font-size: 12px;
}

main .wrap {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.bottom-left {
    height: 50px;
    width: 110px;
    position: absolute;
    bottom: 40px;
    left: 0;
    border: solid var(--bdbl);
    color: var(--darkbl);
    font-weight: bold;
    background-color: var(--bdbl);
}

.box {
    display: flex;
    border: 5px solid var(--bdbl);
    width: 35%;
    height: 200px;
    margin: 1rem 1rem 1rem 0;
    position: relative;
    text-align: center;
}

.box:first-child,
.box:last-child {
    width: 80%;
    height: 300px;
}


/* images box */

.img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(148, 150, 151, 0.5);
    opacity: 1;
    transition: var(--transition);
}

.img-overlay:hover {
    background: transparent;
}

#imgs {
    display: flex;
    width: 100%;
    height: 100%;
}


/* banner */

section.banner {
    grid-area: 1 / 1 / 2 / 3;
}

.banner img {
    width: 100%;
    height: max-content;
}


/* row 2 */

section.left-text1 {
    grid-area: 2 / 1 / 3 / 2;
    font-weight: bolder;
    font-size: 25px;
    color: #074a58;
    border-right: solid var(--bglight);
}

section.left-text1 p {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-right: 0.3rem;
}

section.describe p {
    margin-left: 2rem;
    border-style: double;
    padding: 1rem;
}


/* row 3 */

section.left-text2 {
    grid-area: 3 / 1 / 4 / 2;
    font-weight: bolder;
    font-size: 25px;
    color: #074a58;
    border-right: solid var(--bglight);
    margin: 1rem 0 0 0;
}

section.left-text2 p {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.3rem;
}


/* row 4 */

section.left-text3 {
    grid-area: 4 / 1 / 5 / 2;
    font-weight: bolder;
    font-size: 25px;
    color: #074a58;
    border-right: solid var(--bglight);
    margin: 1rem 0 0 0;
}

section.left-text3 p {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin-right: 0.3rem;
}


/* Footer */

footer {
    grid-area: 4 / 2 / 5 / 3;
    background: white;
    display: inline-flex;
    justify-content: space-between;
    margin: 1rem 0 0 0;
    padding: 2rem 0 0 10px;
    text-align: center;
}

.afooter {
    color: var(--darkbl);
    transition: var(--transition);
}

.afooter:hover {
    color: var(--sky);
}


/* Responsive when screen resolution at 768px */

@media screen and (max-width: 768px) {
    Footer,
    body,
    header {
        flex-direction: column;
    }
    .wrap {
        display: flex;
        justify-content: center;
    }
    .headbox {
        justify-content: center;
    }
    .box,
    .box:first-child,
    .box:last-child {
        width: 80%;
        height: 200px;
        flex-direction: column;
    }
    section.describe p {
        margin-left: 0.5rem;
        border-style: double;
        padding: 1rem;
    }
    footer {
        padding: 0;
    }
    .contact {
        padding-top: 1rem;
    }
    .contact a {
        text-decoration: underline;
        font-size: 12px;
    }
}